<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='feet-animation.css') }}">
    
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="split left">
        <h1>PPDV Project</h1>
        <h3>Author: Stanisław Malińkski 319 071</h3>
        {{ patient_selector|safe }}
    {% block body %}
    {% endblock %}
</body>
</html>