<div id="live_figure1" class="live_figure">
    <h2>Patient: {{ id }}</h2>
    <table>
        <tr>
            <th></th>
            <th>L1</th>
            <th>L2</th>
            <th>L3</th>

            <th>R1</th>
            <th>R2</th>
            <th>R3</th>
        </tr>
        <tr>
            <th>Values:</th>
            <td>{{ L1 }}</td>
            <td>{{ L2 }}</td>
            <td>{{ L3 }}</td>

            <td>{{ R1 }}</td>
            <td>{{ R2 }}</td>
            <td>{{ R3 }}</td>
        </tr>
    </table>
  </div>